$color-border: #F3F3F3;
$color-light: #9D9D9D;

.card {
  padding: 20px 30px;
  border-radius: 40px;
  border: 1px solid $color-border;
  background: #FFF;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: calc(25% - 50px);
  flex-grow: 1;
  max-width: 25%;
  transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;

  &-product {
    position: relative;
  }

  &-pic {
    width: 100%;
  }

  &-title {
    font-size: 14px;
    line-height: 120%;
  }

  &-order {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &-price {
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: $color-light;
    opacity: 0.5;

    &-number {
      font-size: 16px;
      line-height: 120%;
      font-weight: 700;
    }
  }

  &-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: background 0.5s ease;

    &-follow_on {
      background: url('../../../public/mainIconFollow.svg') center/contain no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-follow_off {
      background: url('../../../public/mainIconUnFollow.svg') center/contain no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }

    &-add_on {
      background: url('../../../public/mainIconAdd.svg') center/contain no-repeat;
    }
  
    &-add_off {
      background: url('../../../public/mainIconUnAdd.svg') center/contain no-repeat;
    }
  }
}

@media (hover: hover) {
  .card:hover {
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    transform:  translateY(-5px);
  }
}

@media (hover: none) {
  .card:active {
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.05);
    transform:  translateY(-5px);
  }
}